:root {
  /* Primary colors */

  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* Neutral */

  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--very-light-gray);
}

body {
  font-family: Poppins, system-ui;
  color: var(--very-dark-blue);
  margin: 0;
}

main {
  padding: 85px 32px 78px 32px;
}

input,
textarea,
button,
select {
  font: inherit;
}
