body {
  display: grid;
}

main {
  margin-inline: auto;
  justify-items: center;
  /* outline: 1px solid red; */
}

#headline {
  text-align: center;
  margin-bottom: 76px;
  /* outline: 1px solid red; */
}

.headline-text {
  width: clamp(311px, calc(19rem + 15vw), 540px);
}

.headline-1 {
  margin-top: 0px;
  margin-bottom: 1px;
}

.headline-2 {
  margin-top: 0px;
  margin-bottom: 13px;
}

.card {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top-width: 5px;
  border-top-style: solid;
  width: clamp(311px, calc(19rem + 3vw), 350px);
  height: auto;
  padding: 28px;
  background-color: var(--white);
  box-shadow: 0px 0px 10px 10px rgba(0 0 0 / 5%);
  display: grid;
}

.card-heading {
  margin-top: 0;
  margin-bottom: 1px;
}

.card-text {
  margin-top: 0;
  margin-bottom: 33px;
}

.card-image {
  justify-self: end;
}

#content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  place-items: center;
  /* outline: 1px solid red; */
}

#middle-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

#card-supervisor {
  border-top-color: var(--cyan);
}

#card-teambuilder {
  border-top-color: var(--red);
}

#card-karma {
  border-top-color: var(--orange);
}

#card-calculator {
  border-top-color: var(--blue);
}

@media (min-width: 1440px) {
  #content {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .card {
    width: 350px;
    height: 250px;
  }

  #middle-section {
    gap: 30px;
  }
}
