.headline-1 {
  font-weight: 200;
  font-size: clamp(1.5rem, 2.5vw, 2.25rem);
  letter-spacing: 0.01rem;
  line-height: normal;
}

.headline-2 {
  font-weight: 600;
  font-size: clamp(1.5rem, 2.5vw, 2.25rem);
  letter-spacing: 0.17px;
  line-height: normal;
}

.headline-text {
  font-weight: 400;
  font-size: 0.94rem;
  letter-spacing: 0.0006rem;
  line-height: 1.67;
}

.card-heading {
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: normal;
  line-height: normal;
}

.card-text {
  font-weight: 400;
  font-size: 0.8125rem;
  letter-spacing: 0.005rem;
  line-height: 1.77;
}
